<%- include('../partials/header') %>

  <div class="main-content home-page">
    <a href="/beans" class="my-bean-link">MY BEANS</a>
    <a href="/beans/new" class="add-bean-link">ADD BEAN</a>
    <section class="display-container">      
      <div class="my-beans">
        <% beans.forEach(function(b){ %>
          <div class="my-beans-card">
            <a href="/beans/<%= b._id %>" class="see-details">
              <h2><%= b.roaster %></h2>
              <p><%= b.blendName %></p>
              <p><%= b.region %></p>
            </a>
            <footer class="card-footer">
              <form action="/beans/<%= b._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit" class="delete-button">REMOVE</button>
              </form>
            </footer>
          </div>       
          <% }) %>
      </div>
    </section>
  </div>

  <%- include('../partials/footer') %>